future==0.18.2
ipympl==0.5.7
jupyter==1.0.0
matplotlib==3.2.0
numpy==1.22.0
torch==1.13.0
torchvision==0.14.0
opencv-python==4.2.0.32
sympy==1.4
pytorch-lightning==1.5.10
torchmetrics==0.7.2
torchsummary==1.5.1
scikit-learn==1.0.2
